.cut-line {
  display: flex;
  justify-self: center;
  margin: 5rem 0;
  width: 90%;
  background-color: #e9f2f5;
  padding: 0.1rem;
}

.service-img {
  width: 80%;
  height: 25vh;
  object-position: top;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 20px;
  transform: translateX(-40px);
}
